





.main-div{
  position:relative;
  height: 2000px;
  background-color: rgba(0,0,0,.6);
  margin:50px;
  border-radius: 50px;
  
  
}








.contact-text-style{
    width:80%;
    position:absolute;
    color: rgb(36, 189, 163);
    font-family:"Times New Roman";
    margin-top: 15px;
    left:10%;
    right:10%;
    top:10%;
    font-size:30px;
   
    
  }
  

.link-style{
  color:rgb(36, 189, 163);
  text-decoration: underline;
  text-decoration-color: rgb(228, 50, 255);
}

.message{
  font-size: 40px;
  margin-bottom: 40px;
}

.bold-style{
  animation: colorShift 8s  infinite running;
  color:rgb(36, 189, 163);


}

@keyframes colorShift {
 
  20%{
    
    color: rgb(228, 50, 255);
  }
  50%{
    color: rgb(36, 189, 163);
  }
  51%{
    color: rgb(255,255,255);
    
  }
  55%{
    color: rgb(228, 50, 255);
   
  }
  75%{
    color: rgb(36, 189, 163);
  }
  76%{
    color: rgb(255,255,255);
  
  }
  80%{
    color: rgb(228, 50, 255);
 
  }
  100%{
    color: rgb(36, 189, 163);
  }
 
}