    
    
/* declines all defaulted padding, and margins needs an override though*/ 

/*______________REFERENCE_________________
LARGE CONTAINER: this is a starting container for a major element on the page.







*/




/* ------------------LARGE CONTAINER---------------*/
.rotating-qoutes{
  position:relative;
  overflow:clip;
  padding: 0;
  margin:10%;
  width:80%;
  height:20rem;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  animation-delay: .6s;
  animation: fancyglow 8s linear infinite;
  border-radius: 50px;
  align-items: center;
  
}



.qoute-container{
  
  margin-top:4rem;
  margin-bottom:8rem;
  padding-top: 2.25rem;
  align-items: center;
  text-align: center;
  animation: disappear 9s linear infinite;
  height: 200px;
}

@keyframes disappear {
  0%{
    opacity: 0;
    
  }

  50%{
    opacity: 1;
  }
  
  100%{

    opacity: 0;
  
  }
  
}

.speaker{
  position:absolute;
  left:50%;
  top:80%;
  font-family: 'Lobster';
  font-weight: bold;
  font-size:2rem;
  color:rgb(228, 91, 255);
}

.qoute{
  position:absolute;
 
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  top:30%;
  font-family: 'Times New Roman';
  font-style: italic;
  font-size:3rem;
  color:rgb(35, 189, 163);
}








/* main homepage buttons below*/
/* ------------------LARGE CONTAINER---------------*/
.homepage-layout{
  width:100%;
  color:rgb(35, 189, 163);
  display:flex;
  position: relative;
  align-items:center;
  justify-content: space-between;
 
}

/* the three main homepage boxes*/
.homepage-layout .home-boxes{
  
  display:flex;
  justify-content: center;
  width:20rem;
  height:auto;
  margin:auto;
 
  border-radius: 2rem;
  transition: 2s;
  color:rgb(35, 189, 163);
  font-family: 'Lobster';
  font-size: 3rem;
  background-color: black;
  animation: fancyglow 8s linear infinite;
  animation-delay: calc(var(--i)*.75s);
  
}

.homepage-layout .home-boxes:hover{
  transform: scale(1.3);
}



/* main containers of homepage*/

/* ------------------LARGE CONTAINER---------------*/
.main-container{
  overflow:auto;
  position:relative;
  display:flex;
  margin:0;
 
  padding:0;
  margin-top:200px;
  width:80%;
  margin-left:10%;
  height: 46rem;
  background-color: rgba(0,0,0,.6);
  border-radius: 20px;
  
}


/* rotating images on about me*/
.about-me-image{
  top:6%;
  left:3%;
  position: absolute;
  width:30%;
  height:60%;
  transition: .33s;
  border-radius: 50px;
  animation: fade-out 8s linear infinite;
  
}


.about-me-image:hover{
  transform: scale(1.2);
}

/*text attached to each rotating image*/
.carosel-texts{
  font-family: bold;
  position:absolute;
  font-size: 30px;
  left:4%;
  top:68%;
  color:rgb(35, 189, 163);
  animation: fade-out 8s linear infinite;
}



/* this is the back to top button*/
.back-to-top{
  position: absolute;
  top: 95%;
  left:5%;
  
  align-items: center;
  background-color: rgb(39, 38, 38);
  border-radius: 8px;
  color: rgb(228, 91, 255);
  transition: .18s;

}

.back-to-top:hover{
  box-shadow:0px 0px 15px rgba(35, 189, 163,.9);
  color:rgb(35, 189, 163);
}

@keyframes fade-out {
  0%{
    opacity: 0;
  }
  25%{
    opacity: .3;
  }
  50%
  {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


/* headers like "about me", etc */
.homepage-header{
  font-family: 'Lobster';
  color:rgb(228, 91, 255);
  position: absolute;
  left:65%;
  top:2%;
  font-size: 3rem;
  animation: coolTextGLow 8s linear infinite;
}





.homepage-texts{
  position: absolute;
  left:40%;
  color:rgb(35, 189, 163);
  top:12%;
  font-size: 2rem;
  
  right:3%;
  bottom:1%;

}

.list-spacing{
  margin-top:18px;
}

/* Short message container code below */

.short-message-header{
  top:5%;
  left:50%;
  transform: translate(-50%,-50%);
  font-family: 'Lobster';
  position: absolute;
  font-size: 3rem;
  color: rgb(228, 91, 255);
  justify-self: center;
}

.short-message-text{
  left:10%;
  right:10%;
  position: absolute;
  top:20%;
  font-size: 2.5rem;
  color:rgb(35, 189, 163);
  justify-self: center;
}

@keyframes coolTextGlow{
  0%{
  
    text-shadow:0px 0px 15px rgba(228, 50, 255,1);
    text-shadow:0px 0px 30px rgba(228, 50, 255,1);
    text-shadow:0px 0px 45px rgba(228, 50, 255,.9);
    text-shadow:0px 0px 60px rgba(228, 50, 255,.9);
    text-shadow:0px 0px 75px rgba(228, 50, 255,.9);

  }
  25%{
    text-shadow:0px 0px 15px rgba(35, 189, 163,.9);
    text-shadow:0px 0px 30px rgba(35, 189, 163,.9);
    text-shadow:0px 0px 45px rgba(35, 189, 163,.9);
  } 
  50%{
    text-shadow:0px 0px 15px rgba(228, 50, 255,1);
    text-shadow:0px 0px 30px rgba(228, 50, 255,1);
    text-shadow:0px 0px 45px rgba(228, 50, 255,.9);
    text-shadow:0px 0px 60px rgba(228, 50, 255,.9);
    text-shadow:0px 0px 75px rgba(228, 50, 255,.9);
  }
  75%
  {
    text-shadow:0px 0px 15px rgba(35, 189, 163,.9);
    text-shadow:0px 0px 30px rgba(35, 189, 163,.9);
    text-shadow:0px 0px 45px rgba(35, 189, 163,.9);
  }
  100%{
    text-shadow:0px 0px 15px rgba(228, 50, 255,1);
    text-shadow:0px 0px 30px rgba(228, 50, 255,1);
    text-shadow:0px 0px 45px rgba(228, 50, 255,.9);
    text-shadow:0px 0px 60px rgba(228, 50, 255,.9);
    text-shadow:0px 0px 75px rgba(228, 50, 255,.9);
  }
}


@keyframes fancyglow {
  0%{
    box-shadow:0px 0px 15px rgba(228, 50, 255,.9);
    box-shadow:0px 0px 30px rgba(228, 50, 255,.9);
    box-shadow:0px 0px 45px rgba(228, 50, 255,.9);
  }
  25%{
    box-shadow:0px 0px 15px rgba(35, 189, 163,.9);
    box-shadow:0px 0px 30px rgba(35, 189, 163,.9);
    box-shadow:0px 0px 45px rgba(35, 189, 163,.9);
  } 
  50%{
    box-shadow:0px 0px 15px rgba(228, 50, 255,.9);
    box-shadow:0px 0px 30px rgba(228, 50, 255,.9);
    box-shadow:0px 0px 45px rgba(228, 50, 255,.9);
  }
  75%
  {
    box-shadow:0px 0px 15px rgba(35, 189, 163,.9);
    box-shadow:0px 0px 30px rgba(35, 189, 163,.9);
    box-shadow:0px 0px 45px rgba(35, 189, 163,.9);
  }
  100%{
    box-shadow:0px 0px 15px rgba(228, 50, 255,.9);
    box-shadow:0px 0px 30px rgba(228, 50, 255,.9);
    box-shadow:0px 0px 45px rgba(228, 50, 255,.9);
  }
}

@media (max-width:1000px){
  .rotating-qoutes{
    height:15rem;
  }
  .qoute-container{
    height:auto;
  }
  
  .qoute{
    font-size: 1.5rem;
  }
  .speaker{
    font-size:1rem;
    
  }
  .homepage-layout .home-boxes{
    font-size: 2rem;
    width:15rem;
  }
  .main-container{
    width:90%;
    left:5%;
    margin-top:2rem;
    
    margin-left:0;
    animation: fancyglow 8s linear infinite;
  }

  .homepage-header{
    
    left:50%;
    transform: translateX(-50%);
    top:2%;
    font-size: 2rem;
    padding:.5rem;
    animation: coolTextGLow 8s linear infinite;
  }
  
  .homepage-texts{
    position: absolute;
    width:80%;
    transform:translate(-50%,-50%);
    color:rgb(35, 189, 163);
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 1rem;
    
    right:3%;
    bottom:1%;
  
  }
  .carosel-texts{
    font-family: bold;
    position:absolute;
    font-size: 1rem;
    left:4%;
    top:30%;
    color:rgb(35, 189, 163);
    animation: fade-out 8s linear infinite;
  }
  .about-me-image{
    top:8%;
    left:30%;
    position: absolute;
    width:40%;
    height:30%;
    transition: .33s;
    border-radius: 50px;
    animation: fade-out 8s linear infinite;
    
  }
  .back-to-top{
    display:none;
  }
  .short-message-header{

    font-size: 1.5rem;


  }
  
  .short-message-text{
   
    font-size: 1rem;
  
  }
  

  
  
}
