    
    
/* declines all defaulted padding, and margins needs an override though*/ 

.about-me-image{
  position:relative;

  border:6px outset rgb(35, 189, 163);
  border-radius: 50px;
  width:100%;
  max-width:400px;
  height: 387px;
}

.about-me-div{
  margin-left:5%;
  margin-top: 2px;
  position:relative;
  width:90%;
  border: 5px outset rgb(228, 50, 255);
  border-radius:50px;
  
 
  background-color:rgb(19, 18, 18);
  height: 500px;
}

.about-me-text{
  position: absolute;
  font-size: 25px;
  color:rgb(35, 189, 163);
  left: 35%;
  width: 55%;
  top:12%;
  color:rgb(35, 189, 163);
  height: 450px;
}

.image-box{
  background-color: rgb(35, 189, 163);
  margin-left:3%;
  position:relative;
  border: 7px rgb(35, 189, 163);
  border-style:ridge;
  border-radius: 70px;
  width:35%;
  max-width:400px;
  height: 400px;
}




/* attempt at appearing and disappearing qoutes */

.rotating-qoutes{
  margin-top:40px;
  margin-bottom:40px;
  padding: 0;
  width:100%;
  height: 700px;
  background-color: rgb(44, 44, 44);
  justify-content: center;
  align-items: center;
}

.qoute-container{
  padding-top: 40px;
  align-items: center;
  text-align: center;
  background-color: rgb(44, 44, 44);
  animation: disappear 7s linear infinite;
  height: 200px;
}

@keyframes disappear {
  0%{
    opacity: 0;
    
  }

  50%{
    opacity: 1;
  }
  
  100%{

    opacity: 0;
  
  }
  
}

.speaker{
  font-family: 'Lobster';
  font-weight: bold;
  font-size:35px;
  color:rgb(228, 91, 255);
}

.qoute{
  
  font-family: 'Times New Roman';
  font-style: italic;
  font-size:50px;
  color:rgb(35, 189, 163);
}