.body{
    margin:0;
    padding:0;
}



.layout{
    
    display: grid;
    margin-top: 2.5rem;
    justify-content: center;
    grid-template-columns: 19rem 19rem 19rem;
    grid-template-rows: 13rem 13rem 13rem;
    column-gap:1.25rem;
    row-gap: 1.25rem;
    
}

.grid-boxes{
    margin-right: 5px;
    margin-left: 5px;
    background-color:rgb(39, 38, 38);
    color:rgb(228, 100, 255);
    border-radius: 30px;
    transition: .2s;

}
.grid-boxes:hover{
    background-color:rgb(47, 39, 49);
    color:rgb(35, 189, 163);
    box-shadow: 8px 8px 8px rgba(228, 100, 255,.7);

}



.grid-text{
    margin-top:30px;
    text-align: center;
    font-weight: bold;
    font-size:22px;
}

.grid-image{
    margin-top:25px;
    margin-left:95px;
    width:110px;
    
    align-items: center;
}




.note-text{
    color:rgb(35, 189, 163);
    text-align:center;
}

.projects-container{
    position:relative;
    display:flex;
    width:80%;
    margin-left:10%;
    justify-content: center;
    align-items: center;
    height:100rem;
    background-color: rgba(10,10,10,.8);
    overflow: auto;
    
    
}
.project-header{
    position: absolute;
    font-size:3rem;
    color:rgb(228, 100, 255);
    top:5%;
    margin-bottom:1rem;
}
.chart-container{
    width:50%;
    position:absolute;
    align-self: center;
    width:90%;
    top:10%;
    
}


.-header{
    position: absolute;
    font-size:2.5rem;
    color:rgb(228, 100, 255);
    top:60%;
}
.chart-text{
    position: absolute;
    font-size:1.8rem;
    
    max-width: 100rem;
    color:rgb(35, 189, 163);
    top:68%;
}
.chart-breakdown{
    position: absolute;
    font-size:1.8rem;
    margin:5%;

    color:rgb(35, 189, 163);
    top:75%;
}
.chart-facts{
    margin:1.5rem;
}