
.download-box{
  height:60px;
  position: relative;
  margin:2%;
  margin-left:10%;
  width:80%;
  
}


.anchor-container{
  position:absolute;
  animation: runaway 20s linear infinite;
  width:15%;
}


  .download-style{
    position:absolute;
    color: rgb(228, 100, 255);
    background-color:rgb(0,0,0); 
    padding:5px;
    border: 2px outset rgb(35, 189, 163);
    border-radius: 5px;
    
    animation: fancyglow 10s linear infinite;
    

  }
  @keyframes runaway{
    0%{
      top:100%;
      left:0%
    }
    10%{
      top:0%;
      left:17%;
    }
    20%{
      top:100%;
      left:34%;
    }
    30%{
      top:0%;
      left:51%;
    }
    40%{
      top:100%;
      left:68%;
    }
    50%{
      top:0%;
      left:85%;
    }
    60%{
      top:100%;
      left:68%;
    }
    70%{
      top:0%;
      left:51%;
    }
    80%{
      top:100%;
      left:34%;
    }
    90%{
      top:0%;
      left:17%;
    }
    100%{
      top:100%;
      left:0%;
    }
    
  }
  
  .download-style:hover{
    background-color:rgb(22, 22, 22);
    color: rgb(228, 91, 255);
    box-shadow: 6px 8px 8px rgba(35, 189, 163, 0.6);
  }
  
  
  .download-style:active{
    background-color:rgb(14, 14, 14);
    color: rgb(228, 100, 255);
    box-shadow: 6px 8px 8px rgba(82, 255, 226, 0.6);
  }

/* new resume below*/

  .custom-resume{
    overflow: hidden ;
    border-radius:40px;
    font-family: 'Times New Roman';
    display: grid;
    grid-template-rows: 400px 400px 400px 1fr;
    position: relative;
    width:80%;
    margin-top: 40px;;
    margin-left: 10%;
    margin-right:10%;
    height:2800px;
    color: rgb(82, 255, 226);
    background-color: rgba(0,0,0,.6);


  }
  .resume-header{
    font-weight:bold;
    position: absolute;
    font-size: 55px;
    left:46%;

  }

 
  .resume-text{
    position: absolute;
    font-size: 30px;
    margin-top:3%;
    width:60%;
    left:30%;
    top:8%;
  }

  .resume-container{
    position: relative;
    color:rgb(82, 255, 226);
    width:100%;
  
  }
  .secondary-header{
    text-decoration: underline;
    text-decoration-color: rgb(228, 91, 255);
    position:absolute;
    left:10%;
    font-size: 40px;
    text-align:left;
    
  }
  .list-text{
    position: absolute;
    left: 14%;
    top:49%;
    font-size: 28px;
  }

  .list-spacing{
    margin-bottom:2%;
  }

  .school-name-text{
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top:17%;
    left:10%;
    
  }


  .experience-data-text{
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    top:5%;
    left:50%;
  }

  .experience-postion-text{
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    top:5%;
    left:10%;
  }
  .school-name-text{
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top:17%;
    left:10%;
    
  }

  .school-italics{
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top:26%;
    left:10%;
  }

  .education-list-text{
    position: absolute;
    left: 14%;
    top:43%;
    font-size: 28px;
  }


  .experience-role-text{
    position: absolute;
    left: 14%;
    top:14%;
    font-size: 28px;
    margin-bottom:5%;
  }

  .experience-list-text{
    position: absolute;
    left: 14%;
    top:17%;
    font-size: 28px;
  }
  .experience-school-italics{
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top:8%;
    left:10%;
  }

  /* code for rotating images on skills section*/

  .rotating-icons-container{
    
    position: relative;
    left: 15%;
    right:15%;
    top:15%;
    width:70%;
    height: 100px;
    border-radius: 80px;
    
    
    
  }

  .icon-image-container{
    opacity:0;
    position: absolute;
    animation: shifter 8s linear infinite;
    animation-delay: calc(var(--i)*.75s);
    width:90px;
    height: 100px;
    
    
  }
  .icon-image-style{
    position: absolute;
    top:15%;
    left:50%;
    width:60px;
    height:55px;
  }


  @keyframes shifter{
    0%{
      left:5%;
      transform:scale(.8);
      opacity:0
    }
    10%{
      transform: scale(1.4);
    }
    40%{
      transform: scale(1.4);
      opacity: 1;
    }
    70%{
      transform:scale(.8);
      left:95%;
      opacity: 0.0;
    }
    95%{
      left:0%;
      opacity:0;
    }
    100%{
      left:0%;
      opacity: 0;

  }
}

.icon-text{
  position: absolute;
  font-size: 15px;
  color:rgb(228, 91, 255);
  top:90%;
  left:65%;
}